# Django Configuration
SECRET_KEY=django-insecure-z@=&#mn-m1riv5zavxzzr-*9t5k)qnz06t1z$+1bm12d)6zbxb
DJANGO_DEBUG=True

# Database Configuration
DATABASE_URL=postgres://saamyak@localhost:5432/aura_db
# Note: For Docker on Mac, change "localhost" to "host.docker.internal" 
# or override via docker run: -e DATABASE_URL="postgres://saamyak@host.docker.internal:5432/aura_db"

# Redis Configuration (for Celery and Cache)
# REDIS_URL=redis://localhost:6379/1

#DON'T CHANGE
AURA_LICENSE_KEY=AURA-2026
