accelerate==1.14.0
diffusers==0.39.0
hf-xet==1.6.0
huggingface_hub==1.28.0
insightface==1.0.1
mediapipe==1.0.1
onnx==1.22.0
onnxruntime==1.29.0
opencv-contrib-python-headless==5.0.0.93
opencv-python-headless==5.0.0.93
rembg==2.0.81
safetensors==0.8.0
scikit-image==0.26.0
torch==2.13.0
torchvision==0.28.0
transformers==5.15.0
