{% extends "emails/base.html" %}

{% block content %}
<h1>Password Reset Request</h1>
<p>Hello {{ user.first_name|default:user.username }},</p>
<p>We received a request to reset the password associated with your account. If you made this request, please click the button below to set a new password.</p>

<div style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
    <a href="{{ reset_url }}" class="button">Reset My Password</a>
</div>

<p class="text-sm">If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged.</p>
{% endblock %}
